@import './shared/font';
@import './index';
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins-Regular', 'Helvetica' !important;
}

.self-typed {
    font-family: 'couture-bld';
    font-size: 31px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

