@font-face {
    font-family: 'couture-bld';
    src: url('/fonts/couture-bld.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'couture-bld';
    src: url('/fonts/couture-bldit.otf');
    font-weight: bold;
    font-style: italic;
}