@import './shared/font';
@import './components/header.scss';
@import './index';
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins-Regular', 'Helvetica' !important;
}

.clickable {
    cursor: pointer;
}

.base-page {
    padding-top: 150px;
    color: white;
}

.absolute {
    position: absolute;
  }

.self-typed {
    font-family: 'couture-bld';
    font-size: 31px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

